[Unit]
Description=Simple Mender Update Tool (DBC)
After=network.target redis.service
Wants=redis.service

[Service]
Type=simple
ExecStart=/usr/bin/smut \
    --redis-addr=192.168.7.1:6379 \
    --update-key=mender/update/dbc/url \
    --checksum-key=mender/update/dbc/checksum \
    --failure-key=mender/update/last-failure \
    --download-dir=/data/ota \
    --update-type=blocking \
    --component=dbc
Restart=on-failure
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
